.form-checkbox-category {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-checkbox-category>label>input {
    margin-right: 20px;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid gray;
}

input:checked {
    background: #6f64f8;
}

input[type="radio"] {
    border-radius: 50%;
    width: 16px;
}
